extends layout

block content
  h1 AFI Top 100 Movies - Are They Streaming?
  p
    small
      | * All data is currently being scraped from <a href='http://www.justwatch.com' target='_blank'>JustWatch.com</a>, & subject to their set of data which may be incorrect or out of date.
  table
    thead
      tr
        th #
        th Movie
        th Where is it streaming?*
    tbody
      each movie, index in movies
        tr
          td= movie.index
          td= movie.title
          td
            ul#providers
              each service, index in movie.services
                li.provider
                  a(href=service.href, target='_blank')
                    img(src=service.iconUrl)
